@font-face {
	font-family: "jirafficon";
	src: url("jirafficon.eot?a341122ad08758533494c43757ea4d03?#iefix") format("embedded-opentype"),
url("jirafficon.woff2?a341122ad08758533494c43757ea4d03") format("woff2"),
url("jirafficon.woff?a341122ad08758533494c43757ea4d03") format("woff");
}

.jirafficon {
	line-height: 1;
}

.jirafficon:before {
	font-family: jirafficon !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.jirafficon-arrow-down:before {
	content: "\f101";
}
.jirafficon-arrow-left:before {
	content: "\f102";
}
.jirafficon-arrow-right:before {
	content: "\f103";
}
.jirafficon-arrow-up:before {
	content: "\f104";
}
.jirafficon-authorized:before {
	content: "\f105";
}
.jirafficon-bag:before {
	content: "\f106";
}
.jirafficon-bell:before {
	content: "\f107";
}
.jirafficon-box:before {
	content: "\f108";
}
.jirafficon-bubble-filled:before {
	content: "\f109";
}
.jirafficon-bubble:before {
	content: "\f10a";
}
.jirafficon-camera-filled:before {
	content: "\f10b";
}
.jirafficon-camera:before {
	content: "\f10c";
}
.jirafficon-cart:before {
	content: "\f10d";
}
.jirafficon-ceo:before {
	content: "\f10e";
}
.jirafficon-chart-down:before {
	content: "\f10f";
}
.jirafficon-chart-up:before {
	content: "\f110";
}
.jirafficon-check-circle-filled:before {
	content: "\f111";
}
.jirafficon-check-circle:before {
	content: "\f112";
}
.jirafficon-check:before {
	content: "\f113";
}
.jirafficon-circle-filled:before {
	content: "\f114";
}
.jirafficon-close-circle-filled:before {
	content: "\f115";
}
.jirafficon-close-circle:before {
	content: "\f116";
}
.jirafficon-close:before {
	content: "\f117";
}
.jirafficon-crown-filled:before {
	content: "\f118";
}
.jirafficon-crown-thin:before {
	content: "\f119";
}
.jirafficon-cto-filled:before {
	content: "\f11a";
}
.jirafficon-cutted-tag-thin:before {
	content: "\f11b";
}
.jirafficon-ellipse:before {
	content: "\f11c";
}
.jirafficon-enter:before {
	content: "\f11d";
}
.jirafficon-estimate:before {
	content: "\f11e";
}
.jirafficon-face-cto:before {
	content: "\f11f";
}
.jirafficon-face-normal:before {
	content: "\f120";
}
.jirafficon-face-sad:before {
	content: "\f121";
}
.jirafficon-face-smile:before {
	content: "\f122";
}
.jirafficon-fb:before {
	content: "\f123";
}
.jirafficon-file:before {
	content: "\f124";
}
.jirafficon-gear:before {
	content: "\f125";
}
.jirafficon-google:before {
	content: "\f126";
}
.jirafficon-handle-bar:before {
	content: "\f127";
}
.jirafficon-heart-filled:before {
	content: "\f128";
}
.jirafficon-heart:before {
	content: "\f129";
}
.jirafficon-history:before {
	content: "\f12a";
}
.jirafficon-home:before {
	content: "\f12b";
}
.jirafficon-insert-suggestion:before {
	content: "\f12c";
}
.jirafficon-link-alt:before {
	content: "\f12d";
}
.jirafficon-logout:before {
	content: "\f12e";
}
.jirafficon-long-arrow-right:before {
	content: "\f12f";
}
.jirafficon-loupe:before {
	content: "\f130";
}
.jirafficon-mail:before {
	content: "\f131";
}
.jirafficon-menu:before {
	content: "\f132";
}
.jirafficon-minus:before {
	content: "\f133";
}
.jirafficon-pencil-filled:before {
	content: "\f134";
}
.jirafficon-pencil:before {
	content: "\f135";
}
.jirafficon-picture:before {
	content: "\f136";
}
.jirafficon-play-filled:before {
	content: "\f137";
}
.jirafficon-play:before {
	content: "\f138";
}
.jirafficon-plus:before {
	content: "\f139";
}
.jirafficon-present-box-filled:before {
	content: "\f13a";
}
.jirafficon-present-box-thin:before {
	content: "\f13b";
}
.jirafficon-question-circle:before {
	content: "\f13c";
}
.jirafficon-question:before {
	content: "\f13d";
}
.jirafficon-question_question:before {
	content: "\f13e";
}
.jirafficon-review:before {
	content: "\f13f";
}
.jirafficon-ribon-filled:before {
	content: "\f140";
}
.jirafficon-ribon:before {
	content: "\f141";
}
.jirafficon-scroll-down:before {
	content: "\f142";
}
.jirafficon-scroll-up:before {
	content: "\f143";
}
.jirafficon-security:before {
	content: "\f144";
}
.jirafficon-shop:before {
	content: "\f145";
}
.jirafficon-sim:before {
	content: "\f146";
}
.jirafficon-smartphone:before {
	content: "\f147";
}
.jirafficon-sort:before {
	content: "\f148";
}
.jirafficon-stop-thin:before {
	content: "\f149";
}
.jirafficon-storage:before {
	content: "\f14a";
}
.jirafficon-tel:before {
	content: "\f14b";
}
.jirafficon-track:before {
	content: "\f14c";
}
.jirafficon-trash:before {
	content: "\f14d";
}
.jirafficon-triangle:before {
	content: "\f14e";
}
.jirafficon-twitter:before {
	content: "\f14f";
}
.jirafficon-warning:before {
	content: "\f150";
}
.jirafficon-zoom-in:before {
	content: "\f151";
}
.jirafficon-zoom-out:before {
	content: "\f152";
}
